@model HomeIndexModel
<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/github.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/css/bootstrap-switch-button.min.css">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/dist/bootstrap-switch-button.min.js"></script>

    <style TYPE="text/css">
        body {
            font-size: 2vW;
            background: url(../Content/img/black-carbon.jpg) repeat;
        }

        .bg-carbon {
            overflow-x: hidden;
            overflow-y: auto;
        }

        .ft1 {
            font-size: 4vw;
            line-height: 1.5;
        }
    </style>

</head>
<body>
    <div class="table-responsive">
        <table id="" border="0" cellpadding="0" cellspacing="0" class="table table-borderless table-striped">

            <tr class="" align="center">
                <td>
                    <div class="pb-0 mb-0">
                        <div class="row col-10 no-gutters px-0" align="center">
                            <img src="~/Content/img/eDM_form_top.jpg" style="width:80vW;">
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="" align="center">
                <td alt="" style="background-repeat: no-repeat;background-size: cover;" class="py-0">
                    <div class="row col-10 no-gutters" align="left">
                        <div class="col-12 text-white">
                            <p class="ft1">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一般投資人買到強勢股看到有獲利就急著賣出，然後又為股價持續上漲買不回來而懊惱錯失大行情。<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;統計上，高勝率往往伴隨著的便是低報酬率，導致投資人在大漲的趨勢中獲利率不佳，甚至由於行情震盪的關係而虧損，「日盛證券移動鎖利」的開發便是為了解決投資人這些煩惱。<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;今天我們就用「日盛證券移動鎖利」模擬器看看你的交易模式吧~獲利超過或停損虧損小於模擬器還可以參加抽獎唷~
                            </p>
                        </div>
                    </div>
                </td>
            </tr>

            <tr class="" align="center">
                <td>
                    <div class="d-flex col-5 align-items-center" align="center">
                        <a href="@Url.Action("Game", "Home")" class="col">
                            <img src="~/Content/img/bt_fighting.svg" class="img-fluid">
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>